
p {
  width: 80px;
  height: 20px;
  font-size: 14px;
  margin: 0px;
}

.mechSkillsBox {
  display: grid;
  height: 100px;
  width: 200px;
  border: 3px black groove;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "skills skills"
  "hull systems"
  "agility engineering";
} 

.mechSkills {
  grid-area: skills;
}

.mechHull {
  grid-area: hull;
}

.mechSystems {
  grid-area: systems;
}

.mechAgility {
  grid-area: agility;
}

.mechEngineering {
  grid-area: engineering;
}

.coreStatsBox {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: auto;
  height: 200px;
  width: 200px;
  border: 3px black groove;
  grid-template-areas: 
  "coreStats ."
  "hp armor"
  "evasion eDefense"
  "speed size"
  "heatCap saveTarget" 
  "sensors .";
}

.mechCoreStats {
  grid-area: coreStats;
}

.mechHp {
  grid-area: hp;
}

.mechArmor {
  grid-area: armor;
}

.mechEDefense {
  grid-area: eDefense;
}

.mechEvasion {
  grid-area: evasion;
}

.mechSpeed {
  grid-area: speed;
}

.mechSize {
  grid-area: size;
}

.mechHeatCap {
  grid-area: heatCap;
}

.mechSaveTarget {
  grid-area: saveTarget;
}

.mechSensors {
  grid-area: sensors;
}

.mechWeapon01 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "name name name"
  "position keyword accuracy"
  "range damage ."
  "effect effect effect";
  width: 100px;
}

.mechWeaponName {
  grid-area: name;
  width: 80px;
}

.mechWeaponPosition {
  grid-area: position;
}

.mechWeaponKeyword {
  grid-area: keyword;
}

.mechWeaponAccuracy {
  grid-area: accuracy;
}

.mechWeaponRange {
  grid-area: range;
}

.mechWeaponDamage {
  grid-area: damage;
}

.mechWeaponEffect {
  grid-area: effect;
}